* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

.nav {
  border-top: 2px;
  border-bottom: 2px;
  border: #848282 solid 1px;
  display: flex;
  justify-content: center;
}

.nav-list {
  text-align: center;
  display: inline-block;
  /* justify-content: center; */
  margin: 10px 20px;
}

.container {
  width: 402px;
  height: auto;
  /* border: red solid 1px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
}

.content1 {
  width: 100px;
  height: 100px;
  background-color: #e6ffe9;
}
.content2 {
  width: 100px;
  height: 100px;
  background-color: #cbffd3;
}
.content3 {
  width: 100px;
  height: 100px;
  background-color: #aeffbd;
}
.content4 {
  width: 100px;
  height: 100px;
  background-color: #93ffab;
}
.content5 {
  width: 100px;
  height: 100px;
  background-color: #f3ffd8;
}
.content6 {
  width: 100px;
  height: 100px;
  background-color: #edffbe;
}

.content7 {
  width: 100px;
  height: 100px;
  background-color: #e9ffa5;
}
.content8 {
  width: 100px;
  height: 100px;
  background-color: #e4ff8d;
}
.content9 {
  width: 100px;
  height: 100px;
  background-color: #d9e5ff;
}
.content10 {
  width: 100px;
  height: 100px;
  background-color: #bad3ff;
}
.content11 {
  width: 100px;
  height: 100px;
  background-color: #a4c6ff;
}
.content12 {
  width: 100px;
  height: 100px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}
.footer-text {
  color: #fff;
}
